# La información fue extraída desde la web de https://www.palermo.com.ar/es/turf/calendario-de-carreras usando Scrapy

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Leer archivo en json
carreras = pd.read_json('carreras-2017.json', dtype={'pos': 'int64'})

In [11]:
# Cual es el Jockey que mas veces hizo podio
group = carreras.groupby(['jockey'])
jockey_pos = pd.DataFrame(columns=['1ro', '2do', '3ro'])
for g, f in group:
    jockey_pos.loc[g, '1ro'] = len(f.loc[f['pos'] == '1'])
    jockey_pos.loc[g, '2do'] = len(f.loc[f['pos'] == '2'])
    jockey_pos.loc[g, '3ro'] = len(f.loc[f['pos'] == '3'])
    
jockey_pos.sort_values('1ro', ascending=False).head()

                     1ro 2do 3ro
FALERO PABLO G        78  65  56
NORIEGA JUAN C        55  45  40
ORTEGA PAVON EDUARDO  52  44  34
CALVENTE GUSTAVO E    48  42  28
DOMINGOS ALTAIR       42  48  42

In [12]:
# Las caballerizas que mas hicieron podio
group = carreras.groupby(['caballeriza'])
caballeriza_pos = pd.DataFrame(columns=['1ro', '2do', '3ro'])
for g, f in group:
    caballeriza_pos.loc[g, '1ro'] = len(f.loc[f['pos'] == '1'])
    caballeriza_pos.loc[g, '2do'] = len(f.loc[f['pos'] == '2'])
    caballeriza_pos.loc[g, '3ro'] = len(f.loc[f['pos'] == '3'])
    
caballeriza_pos.sort_values('1ro', ascending=False).head()

                  1ro 2do 3ro
JUAN ANTONIO (BV)  26  19  13
RUBIO B            18  17  12
TRAMO 20 (SDE)     14   6   3
LAS CANARIAS       14   4   6
FIRMAMENTO         13  11   4

In [ ]:
# Segun caballo, jockey y caballeriza calcular posicion
caballo = 'HAT VALOR'
jockey = 'ORTEGA PAVON EDUARDO'
caballeriza = 'BOCA PAILA (AZ)'

print(carreras[''])